@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@font-face {
    font-family: 'coolvetica';
    src: url(./fonts/coolvetica\ rg.otf);
}

body{
    font-family: 'Roboto',sans-serif;
}
h1{
    font-family: 'coolvetica';
    font-size: 48px;
    color: #0a2ff1;
}
section{
    text-align: center;
    background-color: #eff2ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    padding: 2em;
}
h2{
    font-size: 30px;
    font-weight: 700;
    color: #0a2ff1;
  }
p{
    font-size: 28px;
    color: #04146c;
    font-weight: 300;
}
section img{
    width: 15%;
}

.special{
    font-size: 21px;
    font-weight: 400;
}
.special img{
    width: 10%;
    vertical-align: middle;
    margin-right: 2px;
}
#logoidentif{
    width:20%;
}
section div{
    display: flex;
    justify-content:space-around;
    width: 100%;
}