@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
h2{
    font-family: 'Mulish',sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0a2ff1;
}
h1{
    font-family: 'Mulish',sans-serif;
    font-weight: 900;
    font-size: 80px;
    color: #0a2ff1;

}
p{
    font-family: 'Mulish',sans-serif;
    font-weight: 400;
    font-size: 26.666666666666664px;
    color: #04146c;
}
strong{
    font-weight: 700;
}
button{
    width: 400px;
    height: 70px;
    font-family: 'Mulish',sans-serif;
    font-weight: 700;
    font-size: 29.333333333333332px;
    color: white;
    background-color: #0a2ff1;
    border: none;

}